In [1]:
import fiona 
import geopandas as gpd

In [2]:
gdb_file =r"T:\Data\Safety\Lane_County_Crashes\Lane_County_Crashes__Spatialized_Decode.gdb"

In [5]:
#DriverError - Permission Denied
#layers = fiona.listlayers(gdb_file)

In [5]:
layers

['Crash_Participant_2007',
 'Crash_2017',
 'Crash_2016',
 'Crash_2015',
 'Crash_2014',
 'Crash_2013',
 'Crash_2012',
 'Crash_2011',
 'Crash_2010',
 'Crash_2009',
 'Crash_2008',
 'Crash_2007',
 'Crash_Participant_2017',
 'Crash_Participant_2016',
 'Crash_Participant_2015',
 'Crash_Participant_2014',
 'Crash_Participant_2013',
 'Crash_Participant_2012',
 'Crash_Participant_2011',
 'Crash_Participant_2010',
 'Crash_Participant_2009',
 'Crash_Participant_2008',
 'Crash_Vehicle_2017',
 'Crash_Vehicle_2016',
 'Crash_Vehicle_2015',
 'Crash_Vehicle_2014',
 'Crash_Vehicle_2013',
 'Crash_Vehicle_2012',
 'Crash_Vehicle_2011',
 'Crash_Vehicle_2010',
 'Crash_Vehicle_2009',
 'Crash_Vehicle_2008',
 'Crash_Vehicle_2007',
 'Crash_Vehicle_2018',
 'Crash_2018',
 'Crash_Participant_2018',
 'Crash_Vehicle_2019',
 'Crash_Participant_2019',
 'Crash_Vehicle_2020',
 'Crash_2020',
 'Crash_Participant_2020']

In [1]:
import arcpy

In [2]:
arcpy.env.workspace = r"T:\Data\Safety\Lane_County_Crashes\Lane_County_Crashes__Spatialized_Decode.gdb"
featureClasses = arcpy.ListFeatureClasses()

In [3]:
featureClasses

['Crash_2017',
 'Crash_2016',
 'Crash_2015',
 'Crash_2014',
 'Crash_2013',
 'Crash_2012',
 'Crash_2011',
 'Crash_2010',
 'Crash_2009',
 'Crash_2008',
 'Crash_2007',
 'Crash',
 'Crash_2018',
 'Crash_2019',
 'Crash_2020',
 'Crash_2021']

In [4]:
tables = arcpy.ListTables()

In [5]:
tables

['Crash_Participant_2007',
 'Crash_Vehicle',
 'Crash_Participant_2017',
 'Crash_Participant_2016',
 'Crash_Participant_2015',
 'Crash_Participant_2014',
 'Crash_Participant_2013',
 'Crash_Participant_2012',
 'Crash_Participant_2011',
 'Crash_Participant_2010',
 'Crash_Participant_2009',
 'Crash_Participant_2008',
 'Crash_Participant',
 'Crash_Vehicle_2017',
 'Crash_Vehicle_2016',
 'Crash_Vehicle_2015',
 'Crash_Vehicle_2014',
 'Crash_Vehicle_2013',
 'Crash_Vehicle_2012',
 'Crash_Vehicle_2011',
 'Crash_Vehicle_2010',
 'Crash_Vehicle_2009',
 'Crash_Vehicle_2008',
 'Crash_Vehicle_2007',
 'Crash_Vehicle_2018',
 'Crash_Participant_2018',
 'Crash_Vehicle_2019',
 'Crash_Participant_2019',
 'Crash_Vehicle_2020',
 'Crash_Participant_2020',
 'Crash_Vehicle_2021',
 'Crash_Participant_2021']

In [6]:
from pandas import DataFrame

In [7]:
featureclass = 'Crash'

In [8]:
fieldlist = [f.name for f in arcpy.ListFields(featureclass)]

In [9]:
ndar = arcpy.da.FeatureClassToNumPyArray(in_table=featureclass, field_names=fieldlist, skip_nulls=False, null_value=-99999)

In [10]:
import numpy as np
import pandas as pd

In [11]:
type(ndar)

numpy.ndarray

In [12]:
import pickle
with open(r'C:\Users\clid1852\OneDrive - lanecouncilofgovernments\share\ndar.pkl', 'wb') as f:
    pickle.dump(ndar, f)

In [13]:
ndar.shape

(55996,)

In [14]:
ndar[0]

(511, [-124.12769325,   43.88283811], 1235825, '00694', '2007-02-27T00:00:00.000000', '02', '27', '2007', '3', 'Tue', '08', '8A ', '08:00 to 08:59', '08:00 AM to 08:59 AM', '20', 'Lane', -99999, '-99999', -99999, '-99999', '-99999', '02', 'R PR-ART', 'RURAL PRINCIPAL ARTERIAL - OTHER', 1, '009', '  ', 'OREGON COAST', 'Oregon Coast Highway', '1', 'Add-mileage on divided highway or an undivided hwy', '0', 'MN', 'MAINLINE HWY', 'Mainline State Highway', '0', 'R', 'REGULAR', 'Regular Mileage', '-', '000900100S00', -124, 7, 39.6957016, 43, 52, 58.21720886, -124.12769325, 43.88283811, '-9', '-99999', '-99999', '-99999', '-9', '-99', '-99999', '-99999', '-99999', '                            ', '-99999', '-99999', '                            ', '-99999', -99999, -99999, '0', 'UN', 197.1, '55', '5', 'CURVE   ', 'CURVE', 'Curve (horizontal curve)', 1, '-', '-99999', 0, 0, 0, 2, -99999, '0', 'NONE ', 'No median', '06', '8', 'FIX OBJ   ', 'FIXED OBJECT', 'Fixed Object', '9', 'FIX     ', 'FIXED OBJ', 'Fixed Object or Other Object', 'FIXED / OTHER OBJECT', 9, '4', 'INJ', 'Non-Fatal Injury ', '3', 'RAIN', 'RAIN ', 'Rain   ', '2', 'WET ', 'WET', '1', 'DAY ', 'DAY', 'Daylight', '099', 'UNKNOWN   ', 'Unknown or not definite', 1, '1', 'STATE ', 'State Police - Report received.', '079', 'DITCH     ', 'CUT SLOPE/DITCH', 'Cut slope or ditch embankment', 1, 0, 1, '010', 'SUB OTRN  ', 'SUBSEQ OVERTURN', 'Overturned after first harmful event', 1, 0, 1, '-99', '-99999', '-99999', '-99999', -99999, -99999, -99999, '01', 'TOO-FAST', 'TOO FAST FOR COND', 'Too fast for conditions (not exceed posted speed)', 1, 1, 0, '-9', '-99999', '-99999', '-99999', -99999, -99999, -99999, '-9', '-99999', '-99999', '-99999', -99999, -99999, -99999, '0', '0', 0, 0, -99999, 1, 0, '-', '-99999', '5', 'RURAL HWY SYSTEM', 'Rural Highway System', 'US', '101  ', 'US 101    ', '2', '05 ', '293_9495', 679.91765187, 0, '2010-06-29T11:12:09.140001', 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 'Y', '06/06/2017', '-999', 'SVF', 'Siuslaw Valley Fire & Rescue', 'SVF', 'Siuslaw Valley Fire/Rescue', -99999, '-99', '-99999')

In [15]:
df = pd.DataFrame([list(row) for row in ndar], columns=ndar.dtype.names)

In [16]:
df.tail()

,OBJECTID,Shape,crash_id,ser_no,crash_dt,crash_mo_no,crash_day_no,crash_yr_no,crash_wk_day_cd,wkday_short_desc,...,lane_rdwy_dprt_crash_flg,gis_prc_dt,effectv_dt,fire_protection_provider_code,fire_protection_provider_name,fire_responder_code,fire_responder_name,is_in_mpo,ugb_code,ugb_name
0,511,"[-124.12769325, 43.88283811400004]",1235825,00694,2007-02-27,02,27,2007,3,Tue,...,Y,06/06/2017,-999,SVF,Siuslaw Valley Fire & Rescue,SVF,Siuslaw Valley Fire/Rescue,-99999,-99,-99999
1,924,"[-124.12534989199997, 43.88303875200006]",1244151,01194,2007-04-07,04,07,2007,7,Sat,...,Y,06/06/2017,-999,SVF,Siuslaw Valley Fire & Rescue,SVF,Siuslaw Valley Fire/Rescue,-99999,-99,-99999
2,1697,"[-124.04354444399996, 43.874451875000034]",1255800,01991,2007-06-04,06,04,2007,2,Mon,...,Y,06/06/2017,-999,SVF,Siuslaw Valley Fire & Rescue,SVF,Siuslaw Valley Fire/Rescue,-99999,-99,-99999
3,1698,"[-124.04354444399996, 43.874451875000034]",1255801,91991,2007-06-04,06,04,2007,2,Mon,...,Y,06/06/2017,-999,SVF,Siuslaw Valley Fire & Rescue,SVF,Siuslaw Valley Fire/Rescue,-99999,-99,-99999
4,1736,"[-124.13214058999995, 43.872101290000046]",1256538,02088,2007-06-10,06,10,2007,1,Sun,...,Y,06/06/2017,-999,SVF,Siuslaw Valley Fire & Rescue,SVF,Siuslaw Valley Fire/Rescue,-99999,-99,-99999

In [17]:
outpath = "//clsrv111.int.lcog.org/transpor/Tableau/tableauSafetyEmphasisAreas/Datasources/"

In [18]:
df.to_csv(outpath+"crash.csv", index=False)

In [19]:
vhcl = arcpy.da.TableToNumPyArray(in_table="Crash_Vehicle", 
                                  field_names=[f.name for f in arcpy.ListFields("Crash_Vehicle")], 
                                  skip_nulls=False, 
                                  null_value=-99999)

In [20]:
vhcl[0]

(96371, 1228425, 2328540, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, '5', 'S ', 'S ', '1', 'N ', 'N ', '1', 'STRGHT', 'STRAIGHT', 'Straight Ahead', '1', 'PRVTE', 'Private', '01', 'PSNGR CAR ', 'Passenger car, pickup, light delivery, etc.', '0', 'NONE  ', 'No Special Use', '000', 'NONE     ', 'NO ACTION', 'No action or non-warranted', '00', 'NO CODE ', 'NO CODE APPLICABLE', 'No cause associated at this level', '-9', '-99999', '-99999', '-99999', '-9', '-99999', '-99999', '-99999', '-99', '-99999', '-99999', '-99999', '-99', '-99999', '-99999', '-99999', '-99', '-99999', '-99999', '-99999')

In [21]:
vhcl_df = pd.DataFrame([list(row) for row in vhcl], columns=vhcl.dtype.names)

In [22]:
vhcl_df.to_csv(outpath+"crash_vehicle.csv", index=False)

In [23]:
ptcp = arcpy.da.TableToNumPyArray(in_table="Crash_Participant", 
                                  field_names=[f.name for f in arcpy.ListFields("Crash_Participant")], 
                                  skip_nulls=False, 
                                  null_value=-99999)
ptcp[0]

(109392, 1228425, -99999, 2663352, 2, -99999, 1, 0, 0, '22', '-', '26', '1', '1', '-99999', 0, '034', 'X N/SGNL ', 'X-INTER NO SIGNAL', 'Crossing at intersection - no traffic signal present', '0', 'UN', 'UN', '0', 'UN', 'UN', '-', '-9999', '-99999', '-', '-9999', '-99999', '1', 'KILL', 'KILLED', 'Fatal Injury', '0', 'UNK   ', 'UNKNOWN', 'Unknown', '03', 'I XWK?   ', 'INT IN RD/X-WALK?', 'At intersection - in roadway, xwalk avail unknwn', '3', 'PED ', 'PEDESTRIAN', 'Pedestrian', '-', '-99999', '-99999', '-99999', '1', 'Male      ', '19', 'NT VISBL', 'NOT VISIBLE', 'Not motorist not visible; non-reflective clothing', '-9', '-99999', '-99999', '-99999', '-9', '-99999', '-99999', '-99999', '000', 'NONE      ', 'NO ERROR', 'No error', '-99', '-99999', '-99999', '-99999', '-99', '-99999', '-99999', '-99999', '-99', '-99999', '-99999', '-99999', '-99', '-99999', '-99999', '-99999', '-99999', '-99999', '-99999', '-99999')

In [24]:
ptcp_df = pd.DataFrame([list(row) for row in ptcp], columns=ptcp.dtype.names)
ptcp_df.to_csv(outpath+"crash_participant.csv", index=False)