In [1]:
import geopandas as gpd
import os

In [2]:
path = r'T:\Tableau\tableauTransit\Datasources'

In [3]:
routes = gpd.read_file(os.path.join(path, 'LTD_Routes4Tableau.shp'))

In [22]:
routes.columns

Index(['ROUTE', 'Vintage', 'Shape_Leng', 'geometry'], dtype='object')

In [29]:
routes.tail()

,ROUTE,Vintage,Shape_Leng,geometry
26,95,October 2020,105261.351583,"MULTILINESTRING ((4229806.630 882065.022, 4229..."
27,96,October 2020,57881.191159,"MULTILINESTRING ((4240085.753 879540.777, 4240..."
28,98,October 2020,265141.369057,"MULTILINESTRING ((4246001.545 786805.744, 4245..."
29,81,October 2020,40999.215136,"MULTILINESTRING ((4253990.645 864267.680, 4254..."
30,EmX,October 2020,0.000000,"MULTILINESTRING ((4255587.775 876606.804, 4255..."

In [12]:
routes.Vintage.unique()

array(['April 2016', 'April 2017', 'October 2016', 'October 2017',
       'April 2011', 'April 2012', 'April 2013', 'April 2014',
       'April 2015', 'October 2010', 'October 2011', 'October 2012',
       'October 2013', 'October 2014', 'October 2015', 'April 2018',
       'October 2018', 'April 2019'], dtype=object)

In [11]:
routes = routes[~routes.Vintage.isin(['October 2019', 'April 2020'])]

In [13]:
fall2019 = gpd.read_file(r'T:\Data\LTD Data\2019 Fall LTD Routes and Stops\Fall_2019_Routes.shp')

In [26]:
winter2020 = gpd.read_file(r'T:\Data\LTD Data\2020 Winter LTD Routes and Stops\Winter_2020_Routes.shp')

In [18]:
fall2019.head()

,ROUTE,Vintage,Shape_Leng,geometry
0,1,October 2019,7022.792659,"MULTILINESTRING ((4240543.328 881160.949, 4240..."
1,11,October 2019,49572.561792,"MULTILINESTRING ((4283235.977 876304.828, 4283..."
2,12,October 2019,43357.312581,"MULTILINESTRING ((4240085.753 879540.777, 4240..."
3,13,October 2019,40336.363974,"MULTILINESTRING ((4240888.617 879516.672, 4240..."
4,17,October 2019,23944.353373,"MULTILINESTRING ((4259094.045 882999.902, 4259..."

In [20]:
winter2020.head()

,ROUTE,Vintage,Shape_Leng,geometry
0,1,April 2020,7022.792659,"MULTILINESTRING ((4240543.328 881160.949, 4240..."
1,11,April 2020,49572.561792,"MULTILINESTRING ((4283235.977 876304.828, 4283..."
2,12,April 2020,43357.312581,"MULTILINESTRING ((4240085.753 879540.777, 4240..."
3,13,April 2020,40336.363974,"MULTILINESTRING ((4240888.617 879516.672, 4240..."
4,17,April 2020,23944.353373,"MULTILINESTRING ((4259094.045 882999.902, 4259..."

In [17]:
fall2019.insert(1, 'Vintage', 'October 2019')

In [27]:
#use the same routes for both months in 2020
#winter2020.insert(1, 'Vintage', 'April 2020')
winter2020.insert(1, 'Vintage', 'October 2020')

In [21]:
routes.rename(columns = {'SHAPE_Leng': 'Shape_Leng'}, inplace =True)

C:\Users\clid1852\.conda\envs\geoenv\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [23]:
routes = routes.append(fall2019)

In [28]:
routes = routes.append(winter2020)

In [30]:
routes.to_file(os.path.join(path, 'LTD_Routes4Tableau.shp'))